.header-social {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    /*grid-template-rows: 10% 10% 10% 10%;*/
    padding: 2%;
}

.box1 {
    /*border: 1px solid #000;*/
    background: #1e3799;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    border: 2px solid #1e3799;
}

.box2 {
    /*border: 1px solid #000;*/
    /*margin-left: 38%;*/
    background: #1e3799;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    border: 2px solid #1e3799;
    /*border-radius: 3px;*/
}

.box3 {
    background: #1e3799;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    border: 2px solid #1e3799;
}

.form-control {
    width: 15%!important;
}

label{

    font-size: 14px!important;
    font-weight: bold;
    color:#747d8c!important;

}

/*media queries*/

@media (min-width: 360px) and (max-width: 740px) {
    .header-social {
        display: block;
        grid-template-columns: 100%;
    }
}

@media (min-width: 320px) and (max-width: 568px) {
    .header-social {
        display: block;
        grid-template-columns: 100%;
    }
}